language: c
sudo: true
script:
  - echo "START -----> testing phase 2 part 1 - compiling and testing kernel module"
  - sudo apt update
  - sudo apt-get install linux-headers-$(uname -r)
  - cd phase_2/part_1/hello_os_module/
  - sudo make
  - sudo lsmod
  - sudo insmod hello_os_lkm.ko
  - sudo lsmod
  - MODULE_OUTPUT=$(sudo dmesg | tail -1 | cut -d']' -f 2)
  - if [[ $MODULE_OUTPUT == *"Hello OS"* ]]; then echo "Output test passed!"; else echo "Module output error!"; exit 1; fi
  - sudo modinfo hello_os_lkm.ko
  - sudo rmmod hello_os_lkm
  - sudo lsmod
  - echo "DONE -----> testing phase 2 part 1 - compiling and testing kernel module"
  - echo "START -----> testing phase 2 part 2 - building kernel module with"
  - echo "             SELinux disabled and grsecurity enabled and active"
  - cd phase_2/part_2/CI_build/
  - tar -xf linux-4.9.24.tar.xz
  - cd linux-4.9.24/
  - patch -p1 < ../grsecurity-3.1-4.9.24-201704252333.patch
  - cp ../config_grsec_selinux-4.9.24 .config
  - make -j $(nproc) deb-pkg
  - cd ..
  - ls -la
  - echo "DONE -----> testing phase 2 part 2 - building kernel module with"
  - echo "            SELinux disabled and grsecurity enabled and active"

after_success:
  - echo success