language: c
sudo: true
script:
  - sudo apt update
  - sudo apt-get install linux-headers-$(uname -r)
  - cd phase_2/part_1/hello_os_module/
  - sudo make
  - sudo lsmod
  - sudo insmod hello_os_lkm.ko
  - sudo lsmod
  - sudo modinfo hello_os_lkm.ko
  - sudo rmmod hello_os_lkm
  - sudo lsmod

after_success:
  - echo success